<div id="login">

	<div id="loginBox">
		Log in
		<div id="loginForm">

		   	<input type="password" class="login-input" placeholder="Pin" style="margin-top: 4vh;margin-bottom: 8vh;" ng-model="user.pin">

		  	<button type="submit" class="button-login" ng-click="login()">Sign in</button>
		</div>
	</div>
</div>