<div id="dashboard" class="container-fluid">
	<div id="sections">
        <div class="roomsMenu">
                <div ng-repeat="(key, value) in groups" style="color: white; font-size: 24px">
                {{key}}
                <div style="display:flex;">
                    <div class="device" ng-repeat="device in value track by $index">
                        <!-- <div style="height: 30%">( ಠ ͜ʖಠ)</div> -->

                        <div style="height: 30%">{{device.name}}</div>

                        <div class="function" ng-if="device.function=='switch'">
                            <label class="switch">
                                <input type="checkbox" ng-model="state[device.name]" ng-click="action(device.name)">  
                                <span class="slider round" ></span>
                            </label>
                        </div>

                        <div ng-if="device.function=='percent'">
                            <div class="function" style="height: 40%;">1
                                <div>
                                    <button ng-mousedown="createPayloadForMotor(device.name, 1, 1)" ng-mouseup="createPayloadForMotor(device.name, 1, 0)">UP</button>
                                    <button ng-mousedown="createPayloadForMotor(device.name, 1, -1)" ng-mouseup="createPayloadForMotor(device.name, 1, 0)">Down</button>
                                </div>
                            </div>
                            <div class="function" style="height: 40%;">2
                                <div>
                                    <button ng-mousedown="createPayloadForMotor(device.name, 2, 1)" ng-mouseup="createPayloadForMotor(device.name, 2, 0)">UP</button>
                                    <button ng-mousedown="createPayloadForMotor(device.name, 2, -1)" ng-mouseup="createPayloadForMotor(device.name, 2, 0)">Down</button>
                                </div>
                            </div>
                        </div>

                        <div class="function" ng-if="device.function=='sensor'">
                            {{state[device.name].temp}}*C<br>
                            {{state[device.name].hum}}%
                        </div>

                        <div class="function" ng-if="device.function=='leds'" ng-click="">
							<div style = "margin: 2px; padding-left: 17px; padding-right: 17px;">
								<input type="range" class="rangeSlider" ng-if="!showLedControl" ng-model="state[device.name].bright" min="0" max="100" value="0" step="1" ng-click="action(device.name)" style="background: rgb(calc({{state[device.name].red}}*{{state[device.name].bright}}),calc({{state[device.name].green}}*{{state[device.name].bright}}),calc({{state[device.name].blue}}*{{state[device.name].bright}}));">
							</div>
							<div ng-click="showLedControl=(showLedControl*-1)+1" class="rgbMenu"><img src="..\..\images\color_wheel.svg" alt="RGB" style="background: rgb(calc({{state[device.name].red}}*{{state[device.name].bright}}),calc({{state[device.name].green}}*{{state[device.name].bright}}),calc({{state[device.name].blue}}*{{state[device.name].bright}}));"></div>
							<div class="content" ng-if="showLedControl">
								<div class="ledSlider">
									<input type="range" class="rangeSlider pickerRed"  style="background: rgb({{state[device.name].red}},0,0);" ng-model="state[device.name].red" min="0" max="255" value="0" ng-click="action(device.name)"> 
								</div>
								<div class="ledSlider">
									<input type="range" class="rangeSlider pickerGreen" style="background: rgb(0,{{state[device.name].green}},0);" ng-model="state[device.name].green" min="0" max="255" value="0" ng-click="action(device.name)"> 
								</div>
								<div class="ledSlider">
									<input type="range" class="rangeSlider pickerBlue" style="background: rgb(0,0,{{state[device.name].blue}});" ng-model="state[device.name].blue" min="0" max="255" value="0" ng-click="action(device.name)">
								</div>
							</div>
						</div>

                    </div>
                </div>
            </div>
        </div>

        <div class="controlMenu">
            <div class="sectionBox double" style="padding:0;">
                <a class="weatherwidget-io" href="https://forecast7.com/pl/52d2321d01/warsaw/" data-label_1="WARSZAWA" data-label_2="WEATHER" data-mode="Current" data-theme="original" data-baseColor="rgba(255,255,255,0)" data-shadow="#3f3f3f" data-textColor="#f5f5f5" data-cloudColor="#efefef" style="width: 100%; height: 100%;"></a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
				</script>
            </div>

            <div class="sectionBox double" ng-click="goToRoom('drone')"><img src="../../images/drone2.svg" alt="Drone" style="fill:white;"></div>
            <div class="sectionBox double">
                <p>Current Time</p>
                <p>{{ clock  | date:'medium'}}</p>     
            </div>
        </div>
    </div>
	<div class = "sourc">
		Drone icon made by <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> and licensed with <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
		<br>
		Color wheel icon made by <a href="https://en.wikipedia.org/wiki/User:Sakurambo">Sakurambo</a> and licensed with <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons BY 3.0" target="_blank">CC BY-SA 3.0</a>
	</div>