#dashboard {
	background-image: url('./images/LoginBackground.jpg');
	background-size: 100vw 100vh ;
	position: absolute; 
	top: 0;
	left: 0;
	min-height: 100vh;
	height: 100vh;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding-left:10%;
	padding-right: 10%;
}

#sections {
    max-width: 80vw;
    width:100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    left:0;
    right: 0;
}

.roomsMenu {
	overflow-y: auto;
	height: 70vh;
	width: 50vw;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
}

.roomsMenu::-webkit-scrollbar { 
	/* This is the magic bit */
	display: none;
}

.room {
  scroll-snap-align: start;
}

.controllMenu {
  display:flex;
  flex-direction: column;
}

.sectionBox {
    min-width:20vh;
    min-height:20vh;
    max-width: 25vh;
    max-height: 25vh;
    width:25vw;
    height:25vw;
    background-color: rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgba(255,255,255,0.05); */
    margin: 1vh;
    color: white;
    font-size: 3.5vh;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    float: none;
    -webkit-transition: background-color .25s ease-out;
    -moz-transition: background-color .25s ease-out;
    -o-transition: background-color .25s ease-out;
    transition: background-color .25s ease-out;
}

.double {
  flex-grow: 1;
  min-width: 25vh;
  max-width: 50vh;
}

.sectionBox img {
    height: 10vh;
    position: relative;
    bottom: 0;
}

.sectionBox:hover {
  /* border: 2px solid whitesmoke; */
  background:rgba(30, 30, 30, 0.2);
}

.sectionBox:active {
  transform: scale(0.99);
}

.bad:hover {
	background-color: rgb(242,78,59,.2);
}

@media (max-width: 420px) {
	.room {
		/*width: 95%;*/
		margin-left: auto;
		margin-right: auto;
	}
	
	.roomsMenu {
		height: 20.8vh;
		width: 95%;
		margin-top: 0.6vh;
		margin-bottom: 0.6vh;
	}

	#sections {
		justify-content: space-around;
	}

	.double {
		width: 100%;
		max-width: 100%;
	}
}

.groupDevices {
}

.device {
    height: 14vw;
    width: 14vw;
    background-color: rgba(0, 0, 0, 0.2);
    /* border: 1px inset gray; */
    padding: 1vh;
    margin: 1vh;
    color: white;
    font-size: 3.5vh;
    /* box-shadow: 1px 1px 10px gray; */
    list-style-type:none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    -webkit-transition: background-color .25s ease-out;
    -moz-transition: background-color .25s ease-out;
    -o-transition: background-color .25s ease-out;
    transition: background-color .25s ease-out;
}

.device:hover {
	background:rgba(30, 30, 30, 0.2);
}

.function {
	min-height: 30%;
	overflow: hidden;
}

/* .content {
	background-color: rgba(0, 0, 0, 0.2);
} */

.rangeSlider {
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	padding: 1px;
	margin-top: 8px;
	background: rgb(0,0,0);
	outline: none;
	/* opacity: 0.8;
	-webkit-transition: .2s;
	transition: opacity .2s; */
	border-radius: 4px;
}

.rangeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	/* border: solid black 1px; */
	border-radius: 7px;
	background: #ffffff;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: width .2s, height .2s;
}

.rangeSlider:hover::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
}

.rangeSlider::-moz-range-thumb {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: white;
}

.content > .ledSlider {
	padding: 17px;
	padding-top: 7px;
}

.rgbMenu {
	width: 10%;
	padding-top: 5%;
	margin: 0 auto;
}

.rgbMenu > img {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */

	border-radius: 50%;
}

@media (max-width: 420px) {
	.device {
		width: 93vw;
		font-size: 20px;
	}
}

@media (max-width: 350px) {
	.device {
		width: 93vw;
		font-size: 18px;

	}
}
