#login{
	background-image: url('./images/LoginBackground.jpg');
	background-size: 100vw 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#loginBox{
	background-color: whitesmoke;
	box-shadow: 0 12px 16px 5px rgba(0,0,0,0.24),0 17px 50px 15px rgba(0,0,0,0.19);
	margin-left:auto;
	margin-right: auto;
	margin-top:15vh;
	padding: 5vh;
	width:30vw;
	height: 70vh;
	font-size: 40px;
	text-align: center;
	font-family: Helvetica;
	font-weight: 200;
}
#loginForm{
	margin-top:8vh;
	font-weight: normal;
}
.button-login {
    background-color: #5a5b5b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100%;
}
.button-login:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #7b7c7c;
}
.login-input{
	width: 100%;
	height: 50px;
	font-size: 24px;
    background: transparent;
    border: none;
    margin-bottom: 2vh;
    border-bottom: solid #5a5b5b 3px;
}
.login-input:focus {outline:0;}
.login-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #efefef inset;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  height: 24vw;
  justify-content: space-around ;
  background-color: #fcfcfc;
  border:solid #565656 0.1px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  max-height: 250px;
  margin-top:4vh;

}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
#content{
	padding-top:5vh;
}
#dashboard{
	background-image: url('./images/LoginBackground.jpg');
	position: absolute;	
	top: 0;
	left: 0;
	right: 0;
	min-height: 100vh;
}
#readings{
	max-height: 24vw;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: auto;
  margin-left:auto;
  margin-top: 12vh;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.box{
	height:45vh;
	background-color: #fcfcfc;
	border:solid #565656 0.1px;
	text-align: center;
	padding-top: 6vh;
	padding-bottom:5vh;
}
#navbar{
	background-color: darkgray;
	height: 100vh;
}