* {
	font-family: 'Montserrat', sans-serif;
}

.good {
	border: solid #35c77c 3px;
	background-color: transparent;
	color: #35c77c;
	-webkit-transition: .4s;
	transition: .4s;
}

.good:hover {
    background-color: rgb(53,199,124,.2);
}

.bad {
	border: solid #f24e3b 2px;
	background-color: transparent;
	color: #f24e3b;
	-webkit-transition: .4s;
	transition: .4s;
}

#login {
	background-image: url('./images/LoginBackground.jpg');
	background-size: 100vw 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#loginBox {
	background-color: rgba(0, 0, 0, 0.2);
	/* box-shadow: 0 12px 16px 5px rgba(0,0,0,0.24),0 17px 50px 15px rgba(0,0,0,0.19); */
	margin-left:auto;
	margin-right: auto;
	margin-top:15vh;
	padding: 5vh;
	width:30vw;
	height: 70vh;
	font-size: 40px;
	text-align: center;
  	font-family: Helvetica;
	color: white;
	font-weight: 200;
}

#loginForm {
	margin-top:8vh;
	font-weight: normal;
}

.button-login {
    background-color: transparent;
    border: solid #35c77c 3px;
    color: #35c77c;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 18px;
	/* font-weight: bold; */
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
	width: 100%;
}


.button-login:hover {
    background-color: rgb(53,199,124,.2);
} 

.login-input {
	width: 100%;
	height: 50px;
	font-size: 24px;
	color: white;
    background: transparent;
    border: none;
    margin-bottom: 2vh;
    border-bottom: solid white 3px;
}

.login-input:focus {
	outline:0;
}

.login-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #efefef inset;
}

#content {
	padding-top:5vh;
}

#roomsGroupPage {
  	background-image: url('./images/LoginBackground.jpg');
  	background-size: 150vw 150vh ;
  	position: absolute; 
	top: 0;
	left: 0;
	min-height: 100vh;
	height: 100vh;
	width:100%;
	padding-left:10%;
	padding-right: 10%;
	padding-top:10%;
}


/*#sections.moveUp {
    transform: translate(0, -160%);
    opacity: 0.5;
    transition-delay:0s;
}*/


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-right: auto;
	margin-left:auto;
}

.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: solid #f24e3b 2px;
	background-color: transparent;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 29px;
	width: 29px;
	left: 0px;
	bottom: 0.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	border: solid #35c77c 2px;
}

input:focus + .slider {
	box-shadow: 0 0 1px #35c77c;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider:hover {
	background-color: rgb(242,78,59,.2);
}

input:checked + .slider:hover {
	background-color: rgb(53,199,124,.2);
}

/* Rounded sliders */
.slider.round {
  	border-radius: 34px;
}

.slider.round:before {
  	border-radius: 50%;
}

.roomBox {
    min-width:20vh;
    min-height:20vh;
    max-width: 25vh;
    width:25vw;
    background:rgba(0,0,0,0.1);
    border: 2px solid rgba(255,255,255,0.05);
    margin: 1vh;
    color: white;
    font-size: 3.5vh;
    float: none;
}

.droneDash {
	background-image: url('./images/grass.jpg');
	background-size: 150vw 150vh ;
	position: absolute; 
	top: 0;
	left: 0;
	min-height: 100vh;
	height: 100vh;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left:10%;
	padding-right: 10%;
}

.lineBreak {
	width: 100%;
}

.bacc {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 5%;
	margin: 1%;
	padding: 1%;
}

.sourc {
	font-size: 75%;
	text-align: right;
	position: fixed;
	right: 1%;
	bottom: 1%
}