<div class="droneDash">
	<div class="bacc bad" ng-click="goToRoom('dashboard')">
		<a ng-href="/#!/dashboard">
			<img src="..\..\images\arrow.png">
		</a>
	</div>
	<div class="sectionBox double good" ng-click="doFigure('takeoff')">TakeOff</div>
	<div class="sectionBox double bad" ng-click="doFigure('land')">Land</div>
	<div class="lineBreak"></div>
	<div class="sectionBox double" ng-click="">Patrol</div>
	<div class="sectionBox double" ng-click="doFigure('doaflip')">Do a backflip</div>
	<div class="lineBreak"></div>
	<div class="sourc">Arrow icon made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> and is licensed with <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>