<div class="container-fluids" id="roomsGroupPage">
	<div style="color:whitesmoke; font-size: 40px; width: 50%">
		{{groupDevices[0].group}}
	</div>
	<div style="float:right">
		<button ng-click="addNewDevice()">PLUS</button>
	</div>
	<div style="position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		display:block;">
	<ul style="list-style-type: none; padding: 0;">
 		<li ng-repeat="device in groupDevices" class="device">

			<div style="width: 30%; text-align: left;">( ಠ ͜ʖಠ)</div>

			<div style="width: 30%; text-align: center;">{{device.name}}</div>

			<div class="function" ng-if="device.function=='switch'">
				<label class="switch">
					<input type="checkbox" ng-model="value[device]" ng-click="action(device)">	
					<span class="slider round" ></span>
				</label>
			</div>
			<div class="function" ng-if="device.function=='percent'">{{value[device]}}
				<div style="
					background: linear-gradient(to right, #ffa323 0%, #ffa323 {{value[groupDevices]}}%, #fff {{value[device]}}%, #fff 100%);	
				">
					<input type="range" ng-model="value[device]" min="0" max="100" ng-click="action(device)">
				</div>
			</div>
			<div class="function" ng-if="device.function=='analog'">{{value[device]}}</div>
			<div class="function" ng-if="device.function=='drone'">Patrol</div>
			<div class="function" ng-if="device.function=='leds'"><div ng-class="content" ng-style="display:none">
				
			</div></div>
		</li>
	</ul>
	</div>
</div>